<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium_sudo_code">

	<listeners>
		<listener class-name="POM.Listener"/>
	</listeners>
	
	<test name="POM practice Test">
		<classes>
			<class name="POM.LoginTest"/>             
		</classes>
	</test>
</suite>
